<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

span {
	
	/* 인라인 요소에 테두리 적용하면 꼭 확인해볼 것! */
	border: 1px solid red;
	
	/* 	줄 높이, 줄간격 */
	line-height: 2.5em;
	
	/* 너비, 높이 적용되지 않는다 */
	width: 1000px;
	height: 1000px;

	/* 내부 여백은 콘텐츠(글자)를 감싸는 영역이 된다 */
	/* 인접한 다른 인라인 영역을 침범할 수 있다 */
	background-color: #f99;
	padding: 5px;
	
	/* 	상하 외부 여백이 없다 */
	margin: 10px;

	font-size: 2em;



}


</style>


</head>
<body>

<div>

	<span>SPAN1</span>
	<span>SPAN2</span>
	<span>SPAN3SPAN3SPAN3SPAN3 SPAN3SPAN3SPAN3SPAN3</span>
	<span>것은 청춘 봄바람을 그들에게 뛰노는 이것이다. 가장 방황하였으며, 못하다 피는 것이다. 것이다.보라, 불러 두기 청춘 것이다. 인간에 구할 용감하고 웅대한 트고, </span>

</div>



</body>
</html>