<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

img {
	border: 1px solid #ccc;
	width: 600px;
	height: 400px;
	float: right;
}

/* 
현제 p태그들이 자식요소가 아니기에 적용X
p:nth-child(2) {
	clear: both;

}
 */

</style>

</head>
<body>

<h1>float속성 활용</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="오미라식당" src="../resources/imgs/OmiraMeal.jpg">

<p>품고 소담스러운 못할 충분히 운다. </p>
<p>하였으며, 우리의 피가 공자는 군영과 때문이다. </p>
<p style="clear: both;">생명을 이는 아니한 이상의 가진 것은 아름다우냐? </p>
<p>얼마나 이상의 부패를 있으랴? 무엇을 것이 하여도 속잎나고,</p> 


</body>
</html>